.container_footer {
  background-color: black !important;
  margin-top: 40px;
}
.footer__contact_info_ul {
  text-decoration: none;
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.contact_info__icon {
  font-size: 25px;
  margin-right: 10px;
}
.footer__policy_ul {
  text-decoration: none;
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.container_footer_in {
  padding: 40px 40px 30px;
}
.foooter__contact_info_li {
  margin-top: 10px;
}
.footer__policy_li {
  margin-top: 10px;
}
.bottom_footer {
  display: flex;
  justify-content: center;
  padding: 20px 0px;
  background-color: rgb(225, 225, 225);
}

a {
  text-decoration: none;
  color: black;
}
.mauchu_footer_defaultLayout {
  color: white;
}
