#btn-status-deliveried {
  width: 100px;
  background-color: #30a52d;
  padding: 6px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  border: 1px solid #30a52d;
}
#btn-status-waiting {
  width: 100px;
  background-color: #3765dc;
  padding: 6px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  border: 1px solid #3765dc;
}
#btn-status-layhang {
  width: 100px;
  background-color: #ffd600;
  padding: 6px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  border: 1px solid #ffd600;
}
#btn-status-canceled {
  width: 100px;
  background-color: #f47f7f;
  padding: 6px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  border: 1px solid #f47f7f;
}
#btn-payment-after {
  width: 70px;
  background-color: #a5ada5;
  padding: 6px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  border: 1px solid #a5ada5;
}
.icon-update {
  width: 150px;
}

.fa-eye {
  color: #4656aa;
}

.fa-print {
  color: #17aba1;
}

.fa-pen-to-square {
  color: #12f33f;
}

.fa-solid {
  width: 20%;
  margin-right: 5px;
}

.hidden_OrderList {
  display: none;
}
.thongTinGiaoHang {
  color: red;
}

.div_thongTinGiaoHang {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.div_thongtinsanpham {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.div_search {
  display: flex;
}
.StateWillTranfer {
  color: red;
  margin-left: 1%;
  margin-right: 1%;
}

.buttonUpdate {
  border: 1px solid rebeccapurple;
  border-radius: 3px;
}

.note__css {
  width: 40%;
  border-radius: 0.4rem;
  padding: 0.3rem;
}

.btn__saveNote {
  background-color: #12f33f;
  padding: 0.3rem 1.7rem;
  border-radius: 0.4rem;
}

@media print {
  .print-container {
    width: 210mm; /* Kích thước A4 */
    height: 297mm;
    margin: 0;
    padding: 20px;
    font-size: 16px;
    /* Thêm các kiểu định dạng in khác tại đây */
  }
}

.faPrint_nearUpdate {
  width: 2rem;
  height: 2rem;
}

.noRender {
  /* visibility: hidden; */
  /* position: absolute; */
  /* top: -1200px; */
  opacity: 0;
}

.lkljalsjd {
  display: flex;
}
.lkljalsjd111 {
  width: 70%;
}

.lkljalsjd2 {
  /* display: flex; */
  margin: 1rem 0rem;
  align-items: center;
  width: 30%;
}

.margin__bottom {
  margin-bottom: 2rem;
}
#thongtin_giao_hang_1 {
  margin: 10px 0px 20px 0px;
}

.width_manageOrder_dropdown_search {
  width: 100%;
}
