.iconTurnBack {
  width: 150px;
  margin-top: 2rem;
}

.faCircleChevronLeft {
  color: rgb(104, 104, 255);
  margin-right: 0.5rem;
}

.faSolid {
  width: 20%;
  margin-right: 5px;
}

.deliveryInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.deliveryInfo {
  color: red;
}
