.orderListContent {
  margin: 40px;
}

.paginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconContainer {
  width: 150px;
}

.faEye {
  color: #4656aa;
}

.faSolid {
  width: 20%;
  margin-right: 5px;
}

.faPenToSquare {
  color: #12f33f;
}
