.addToCartContainer {
  margin-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(219, 219, 219);
  display: flex;
  justify-content: center;
}

.cartIcon {
  margin-right: 5px;
}

.cartText {
  margin-bottom: 0;
}

.cardAdditionButton {
  border: 1px solid black;
  display: flex;
  align-items: center;
  margin-right: 10px;
  padding: 0.9rem 0.9rem;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: black;
  color: white;
}
